@charset "UTF-8";
/*.lang-langname*/
.lang-other {
	color: #fff;
	background-color: #909 }
}
.lang-java {
	color: #fff;
	background-color: #f00
}
.lang-javaee {
	color: #33c;
	background-color: #ccc;
}
.lang-scala {
	color: #f00;
	background-color: #586E75
}
.lang-c {
	color: #f00;
	background-color: #00e
}
.lang-rust {
	color: #000;
	background-color: #fff;
	border: solid;
}
.lang-js {
	color: #000;
	background-color: #fe0;
}
.lang-css {
	color: #fff;
	background-color: #33f;
}
.lang-sass {
	color: #fff;
	background-color: #c69;
}
