@charset "UTF-8";
/*.lang-langname*/
.lang-other {
	color: #fff;
	background-color: #909;
	border-radius: 3px;
}
.lang-java {
	color: #fff;
	background-color: #f00;
	border-radius: 3px;
}
.lang-javaee {
	color: #33c;
	background-color: #ccc;
	border-radius: 3px;
}
.lang-scala {
	color: #eee;
	background-color: #36742D;
  	font-weight: bold;
	border-radius: 3px;
}
.lang-c {
	color: #eee;
	background-color: #1E3A67;
	border-radius: 3px;
}
.lang-rust {
	color: #000;
	background-color: #fff;
	border: solid;
	border-radius: 3px;
}
.lang-js {
	color: #000;
	background-color: #fe0;
	border-radius: 3px;
}
.lang-css {
	color: #fff;
	background-color: #33f;
	border-radius: 3px;
}
.lang-sass {
	color: #fff;
	background-color: #c69;
	border-radius: 3px;
}
.lang-android {
	color #fff;
	background-color: #6AB344;
	border-radius: 3px;
}
