@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Questrial|Source+Sans+Pro');
@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');
html {
	overflow-x: hidden;
}
body {
	background-color: #ddd;
	overflow-x: hidden;
	position: relative;
}
header {
	background-color: #333333;
	height:9rem;
}
header h1 {
	color: #fff;
	text-align: center;
	font-size: 4rem;
	padding: 2.5rem 1rem 1rem 1rem;
	font-weight: bold;
	font-family: 'Questrial',sans-serif;

}
section h1 {
	font-size: 2rem;
	padding: .5rem;
	font-family: 'Questrial',sans-serif;
}
.forkme {
	position: absolute;
	top: 40px;
	right: -50px;
	width: 212px;
	height: 28px;
	font-size: .7rem;
	font-weight: bold;
	border: dotted 1.5px #fff;
	line-height: 30px;
	background-color: #b00;
	background: linear-gradient(#d00, #800);
	text-decoration: none;
	color: #eee;
	transform: rotateZ(45deg);
	text-align: center;
	box-shadow: 2px 2px 2px #333;
	font-family: 'Questrial',sans-serif;
}
.forkme:hover::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}
#repositories {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	font-family: 'Source Sans Pro','Noto Sans JP',sans-serif;
}
.repository_top-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1.5rem;
	margin-bottom:0.2rem;

}
.repo-toptitle{
	margin-left: 0.8rem;

}
.repo-search {
	font-size: 1.1rem;
	line-height:1.2rem;
	border:solid 1px #ccc;
	border-radius: 3px;
	margin: .5rem;
	padding: .2rem;
	margin-left: 1.2rem;
    margin-right: 1.2rem;
    z-index: 100;
}

/* for repository js*/
.repository {
	display: block;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 1rem;
	flex-basis: calc(33.333% - 0.4rem);
	max-width: calc(33.333% - 0.4rem);
	margin: .2rem;
	background-color: #fff;
	word-break: break-all;
	line-height: 1.5rem;
}

.repository h2 {
	font-size: 1.2rem;
	font-weight: bold;
}
@media screen and (max-width: 960px) {
	.repository {
		flex-basis: calc(50% - .4rem);
		max-width: calc(50% - .4rem);
	}
}
@media screen and (max-width: 720px) {
	.repository {
		flex-basis: 100%;
		max-width: 100%;
	}
}
.repository small {
  width: auto;
	color: #777;
	font-size: .8rem;
	margin-left: 1rem;
}
.repo_data-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.repo_author {
	width: 8rem;
	text-align: right;
}
.repo_lang {
	width:6rem;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	font-size: .8rem;
}
.repo_update {
	display: block;
	text-align: right;
}
.repo_author::before {
	content: "author: ";
}
.repo_update::before {
	content: "update: ";
}
.page-btn, .repo-btn {
	position: relative;
	width: 5.5em;
	height: 1.2rem;
	line-height: .8rem;
	text-align: center;
	padding: .2rem;
	margin: .2em;
	text-decoration: none;
	display: inline-block;
	border-radius: .3rem;
	color: #fff;
}
.page-btn span, .repo-btn span {
	line-height: 1rem;
}
.page-btn {
	background-color: #00bcd4;
	margin-left: 0;
}
.repo-btn {
	background-color: #464646;
}
.page-btn:hover::after, .repo-btn:hover::after {
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}
.git-icon, .page-icon {
	width: 1rem;
	height: 1rem;
	display: block;
	float: left;
	background-size: contain;
}
.git-icon {
	background-image: url("../img/GitHub-Mark-Light-32px.png");
}
.page-icon {
	background-image: url("../img/page.png");	
}
