@charset "UTF-8";
html {
	overflow-x: hidden;
}
body {
	background-color: #ddd;
	overflow-x: hidden;
	position: relative;
}
header {
	background-color: #000;
}
header h1 {
	color: #fff;
	text-align: center;
	font-size: 3rem;
	padding: 1rem;
	font-weight: bold;
}
section h1 {
	font-size: 2rem;
	padding: .5rem;
}
.forkme {
	position: absolute;
	top: 40px;
	right: -50px;
	width: 212px;
	height: 28px;
	font-size: .7rem;
	font-weight: bold;
	border: dotted 1.5px #fff;
	line-height: 30px;
	background-color: #b00;
	background: linear-gradient(#d00, #800);
	text-decoration: none;
	color: #eee;
	transform: rotateZ(45deg);
	text-align: center;
	box-shadow: 2px 2px 2px #333;
}
#repositories {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}
.repository_top-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
	flex-wrap: wrap;
}
.repo-search {
	margin: .5rem;
	padding: .2rem;
  margin-right: 1rem;
  z-index: 100;
}


/* for repository js*/
.repository {
	display: block;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 1rem;
	flex-basis: calc(33.333% - 0.4rem);
	max-width: calc(33.333% - 0.4rem);
	margin: .2rem;
	background-color: #fff;
	box-shadow: 4px 4px 4px #aaa;
	word-break: break-all;
	line-height: 1.5rem;
}
.repository h2 {
	font-size: 1.2rem;
	font-weight: bold;
}
@media screen and (max-width: 960px) {
	.repository {
		flex-basis: calc(50% - .4rem);
		max-width: calc(50% - .4rem);
	}
}
@media screen and (max-width: 720px) {
	.repository {
		flex-basis: 100%;
		max-width: 100%;
	}
}
.repository small {
	color: #777;
	font-size: .8rem;
	margin-left: 2rem;
}
.repo_data-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.repo_author {
	width: 8rem;
	text-align: right;
}
.repo_author::before {
	content: "author: ";
}
.repo_update::before {
	content: "update: ";
}
.page-btn, .repo-btn {
	position: relative;
	width: 5em;
	height: 1rem;
	line-height: .5rem;
	text-align: center;
	padding: .2rem;
	margin: .2em;
	text-decoration: none;
	display: inline-block;
	border: outset;
	border-radius: .5rem;
	color: #fff;
}
.page-btn span, .repo-btn span {
	line-height: 1rem;
}
.page-btn {
	background-color: #00bcd4;
	margin-left: 0;
}
.repo-btn {
	background-color: #ff4081;
}
.page-btn:hover::after, .repo-btn:hover::after {
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}
.git-icon, .page-icon {
	width: 1rem;
	height: 1rem;
	display: block;
	float: left;
	background-size: contain;
}
.git-icon {
	background-image: url("../img/GitHub-Mark-Light-32px.png");
}
.page-icon {
	background-image: url("../img/page.png");	
}
